.main-container {
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}







.profile-panel {
  grid-area: 1 / 2 / 2 / 3;

  background: var(--color-1);
  box-shadow: var(--panel-box-shadow);
  border-radius: 50px 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-panel-username {
  font-size: 32px;

  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-panel button {
  width: 80%;
  padding: 5px;
  background: var(--color-3);
  box-shadow: var(--panel-box-shadow);
}







.chat-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 5px;

  background: var(--color-1);
  box-shadow: var(--panel-box-shadow);
  border-radius: 50px 50px 50px 50px;

  grid-area: 1 / 1 / 3 / 2;
}

.chat-panel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin-bottom: 2%;

}

.chat-panel-header .panel-title {
  margin-left: 10px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 90%;
  padding: 0 20px 0 20px;

  overflow-y: auto;
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 10%;
  margin-bottom: 10px;
}

.message-form input {
  width: 80%;
  height: 35px;
}

.message-form button {
  margin-left: 10px;
  width: 120px;
  height: 35px;
}





.social-panel {
  display: flex;
  flex-direction: column;

  padding: 5px;
  min-width: 247px;

  background: var(--color-1);
  box-shadow: var(--panel-box-shadow);
  border-radius: 50px 50px 50px 0;

  grid-area: 2 / 2 / 3 / 3;
}

.social-panel-browser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30px;
  margin: 25px 0 15px 0;
}

.social-panel-browser input {
  width: 80%;
  height: 100%;
}

.social-panel-browser svg {
  font-size: 22px;
  margin-left: 10px;
  fill: var(--color-1);
  cursor: pointer;
}

.social-panel-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 85%;
  padding-bottom: 5px;
  overflow-y: auto;
}

.social-panel a {
  margin-top: 10px;
  width: fit-content;
  width: 80%;
  min-height: 20px;
  padding: 10px;

  background: var(--color-2);
  border-radius: 10px;
  box-shadow: var(--panel-box-shadow);
  color: #F1FADA;
  cursor: pointer;

  text-overflow: ellipsis;
  overflow: hidden;
}

.social-panel a:hover {
  animation-name: generic-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.social-panel a:not(:hover) {
  animation-name: generic-not-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.social-panel .selected {
  background: var(--color-3);
}

