:root {
  --color-0: #F1FADA;
  --color-1: #9AD0C2;
  --color-2: #2D9596;
  --color-3: rgb(213, 99, 99);

  --panel-box-shadow: 0 3px 1px #1a5556;
}

* {
  margin: 0;

  font-family: 'Rubik', sans-serif;
  color: #1a5556;
  fill: #1a5556;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(84, 95, 79, .5);
  border-radius: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: var(--color-0);
}

.panel-title {
  font-size: 24px;
  opacity: .5;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  background: var(--color-0);
  border: none;
  border-radius: 10px;
  color: black;
  outline: none;
  padding: 0 10px 0 10px;
  box-shadow: inset 0 3px 1px #1a5556;

}
input::placeholder {
  color: #433b34;
  opacity: .3;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}


button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: var(--color-2);
  color: #F1FADA;
  box-shadow: 0 3px 1px #1a5556;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}

button:hover {
  animation-name: generic-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

button:not(:hover) {
  animation-name: generic-not-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes generic-hover {
  0% {
    filter: brightness(1);

  }

  100% {
    filter: brightness(.9);

  }
}

@keyframes generic-not-hover {
  0% {
    filter: brightness(.9);

  }

  100% {
    filter: brightness(1);

  }
}